@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-white transition-colors duration-200;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .hover-effect {
    @apply transition-colors duration-200 hover:bg-opacity-80;
  }
  
  .active-section {
    @apply ring-2 ring-blue-500;
  }
}

html {
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
}
